body {
	background-color: #F0F0F0;
	font-family: Arial;
	margin: 0px;
}

div.header {
	background-color: #E2E2E2;
	padding-top: 12px;
}

div.header-outer {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	background-color: yellow;
}

div.header-inner {
	background-color: #F0F0F0;
	padding: 10px;
}

div.content-box-container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	width: 60%;	
}

@media screen and (max-width: 1024px) {
	div.content-box {
		width: 100%;
	}
}

@media screen and (min-width: 1024px) {
	div.content-box {
		width: 49.75%;
		min-height: 450px;
	}
}

div.content-box {
	background-color: #FFFFFF;
	float: left;
}

div.content-box h2 {
	font-family: Times New Roman;
}

div.content-box:nth-child(odd) {
	margin-right: 0.5%;
	margin-bottom: 0.5%;
}

div.content {
	padding-left: 32px;
	padding-right: 32px;
}

#tasks-list-table {
	width: 100%;
	border: 4px #E2E2E2 solid;
	border-radius: 4px;
	margin-bottom: 32px;
}

#tasks-list-table td {
	padding: 8px;
}

#tasks-list-table tbody tr:nth-child(odd) {
	background-color: #F0F0F0;
}

input {
	border-radius: 4px;
	border: solid 2px #ECECEC;
	background-color: #EDEDED;
	min-height: 36px;
	font-size: 20px;
	width: 100%;
	max-width: 500px;
	padding-left: 10px;
}

input:focus {
	background-color: #FFFFFF;
}

input[type="submit"] {
	width: auto;
	color: #FFFFFF;
	background-color: #434343;
	border: none;
	font-family: Times New Roman;
	height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}

.input-section {
	padding-bottom: 30px;
}

.input-section label {
	float:left;
	width: 100%;
	padding-bottom: 5px;
	font-weight: bold;
}